<nav class="navbar navbar-expand-lg bg-light shadow-sm">
    <div class="container-fluid mx-3">
        <a href="#" class="navbar-brand">
            <img src="assets/images/logo.png" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav text-center gap-3">
                <li class="nav-item">
                    <a class="nav-link active" href="#home">HOME</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#blog">WHY US?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#new-arrival">NEW🔥</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#our_products">PRODUCTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">CONTACT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="container-fluid py-5">
    <div class="row align-items-center" style="height: 75vh;">
        <div class="col-lg-6 px-5 text-start">
            <h1 class="fw-bold"><span class="spantyping"></span><br>On Everything</h1>
            <p class="text-muted">
                Explicabo esse amet tempora quibusdam laudantium, laborum eaque magnam fugiat hic? Esse dicta aliquid
                error repudiandae earum suscipit fugiat molestias, veniam, vel architecto veritatis delectus repellat
                modi impedit sequi.
            </p>
            <a href="#shop" class="btn shopnow">Shop Now</a>
        </div>
    </div>
</header>