<section class="contactbottom py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4">
                <ul class="list-unstyled">
                    <li><img src="assets/images/logo.png" alt="Logo" class="img-fluid mb-3"></li>
                    <li><strong>Address:</strong> 28 White Tower, Street Name, New York City, USA</li>
                    <li><strong>Telephone:</strong> +91 987 654 3210</li>
                    <li><strong>Email:</strong> yourmaingmail.com</li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <ul class="list-unstyled">
                    <li class="title">MENU</li>
                    <li>
                        <a href="#home">HOME</a>
                    </li>
                    <li>
                        <a href="#blog">WHY US?</a>
                    </li>
                    <li>
                        <a href="#new-arrival">NEW🔥</a>
                    </li>
                    <li>
                        <a href="#our_products">PRODUCTS</a>
                    </li>
                    <li>
                        <a href="#contact">CONTACT</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <ul class="list-unstyled">
                    <li class="title">ACCOUNT</li>
                    <li><a href="#">Account</a></li>
                    <li><a href="#">Checkout</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Shopping</a></li>
                    <li><a href="#">Widget</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <ul class="list-unstyled">
                    <li class="title">NEWSLETTER</li>
                    <li>Subscribe to our newsletter and get updates regularly.</li>
                    <li>
                        <form id="subscribeBox" class="d-flex">
                            <input type="email" id="email2" class="form-control" placeholder="Enter Your Email">
                            <button class="subscribe-button">Subscribe</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>