<section class="section newarrivals d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-6 text-right text-white">
                <h2>#New Arrivals</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse asperiores, impedit ipsum iusto sequi
                    provident saepe iure doloribus quae aut rerum commodi blanditiis cumque voluptatum quis, perferendis
                    consequatur molestias tempore!</p>
                <div class="na_shopnow">
                    <button class="btn shop-now-btn">Shop Now</button>
                </div>
            </div>
        </div>
    </div>
</section>