.subscribe {
    background-color: #d4ced0;
}
.subscribe h2 {
    font-size: 2.5rem;
    color: #002c3e;
}
.subscribe p {
    font-size: 1rem;
    margin-bottom: 2rem;
}
.form-control {
    max-width: 800px;
    font-size: 1rem;
    border: none;
}
.form-control::placeholder {
    color: black;
    font-family: 'Montserrat', sans-serif;
}
.btn-danger {
    padding: 12px 45px;
    background-color: #f7444e;
    font-size: 1.1rem;
    font-weight: 700;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}
.btn-danger:hover {
    color: #f7444e;
    background-color: #ffffff;
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}