<section class="container my-5" id="blog">
    <h2 class="text-center mb-5">Why Shop With Us</h2>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="feature-card text-center p-4">
                <img src="assets/images/download (2).svg" alt="" class="feature-icon my-4">
                <h3>Fast Delivery</h3>
                <p>Variations of passages of Lorem Ipsum available</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="feature-card text-center p-4">
                <img src="assets/images/download (1).svg" alt="" class="feature-icon my-4">
                <h3>Free Shipping</h3>
                <p>Variations of passages of Lorem Ipsum available</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="feature-card text-center p-4">
                <img src="assets/images/download.svg" alt="" class="feature-icon my-4">
                <h3>Best Quality</h3>
                <p>Variations of passages of Lorem Ipsum available</p>
            </div>
        </div>
    </div>
</section>